<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cincicraft Controls</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local CSS -->
    <style type="text/css">
      .cincicraft-header {
      }
      .start-section {
      }
      .status-item {
        font-weight: bold;
      }
      #serverIP {
        padding: 3px;
      }
      #copyButton {
        padding: 3px 10px;
        margin-left: 10px;
        background-color: lightsteelblue;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="cincicraft-header">Cincicraft Controls</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3 start-section">
          <a class="" href="/start/">Click here to start the server.</a>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">

          {# see inline js, https://developer.mozilla.org/en-US/docs/Web/API/HTMLInputElement/select #}
          <p><span class="status-item">Easy Login: </span><input type="text" readonly="true" id="serverIP" class="" value="{% if public_ip %} {{ public_ip }}:25565 {% else %} none {% endif %}"><button type="button" id="copyButton">Copy</button>
          <hr>

          <p><span class="status-item">Server Status: </span><span class="">{% if state %} {{ state }} {% else %} offline {% endif %} </span>

          <!--<p><span class="status-item">Player Count: </span><span class="">{% if mcstatus_info %} {{ mcstatus_info['playercount'] }} {% else %} uncertain {% endif %} </span>-->

          <p><span class="status-item">Players online: </span><span class="">{% if mcstatus_info %} {{ mcstatus_info['player_names'] }} {% else %} {% endif %} </span>


        </div>
      </div>
    </div>

    <!-- stop is now turned off
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="padding">
            <a class="" href="https://0j16ohvp8i.execute-api.us-east-1.amazonaws.com/dev/stop/">You can stop the server by clicking this link.</a>
          </div>
          <br />
        </div>
      </div>
    </div>
    -->
    <!--
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1>Here is the mcstatus payload:</h1>
          <h6>{{ mcstatus_info }}</h6>

          <h1>Here is the response:</h1>
          <h6>{{ response }}</h6>
        </div>
      </div>
    </div>
    -->

    <!-- Browser native click-to-copy -->
    <script>
      document.querySelector('#copyButton').addEventListener('click', function() {
        // Select text inside the input field
        document.querySelector('#serverIP').select();

        var succeed;
        try {
          // Copy the selected text to clipboard
          succeed = document.execCommand('copy');
        } catch (e) {
          succeed = false;
        }

        if (succeed) {
          // Show a message to indicate successful copy
          //alert('Copied!');
        }
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
