<style type="text/css">

.greentext {
  color: green;
}
.bluetext {
  color: blue;
}
.underline {
  text-decoration: underline;
}
.redtext {
  color: red;
}

</style>

<title>Minecraft Instance</title>

<h1>Start Minecraft Instance</h1>

<h3>Public IP Address: <span class="">{% if public_ip %} {{ public_ip }} {% else %} none {% endif %} </span></h3>

<h3>Easy Login: <span class="greentext">{% if public_ip %} {{ public_ip }}:25565 {% else %} none {% endif %} </span></h3>

<h3>Server State: <span class="greentext">{% if state %} {{ state }} {% else %} uncertain {% endif %} </span></h3>


<h1>
  <span class="greentext underline">You have selected to start the server.</span>
</h1>
<h1>
  If the server is already <span class="greentext">running</span>, it will not try again.  
</h1>
<h1>
  The status should change to <span class="greentext">running</span> shortly.
</h1>

<h1>Here are the responses:</h1>
<h6>{{ response }}</h6>
